doctype
html
  include ./head.jade
  div.container
    div.table-responsive
      h4
        span(span class="label label-default") Info
      p.
        If you have deleted a database, you cannot create a new database with the same name before server was not started again
      table.table
        tr
          td
            b #
          td
            b Created
          td
            b Name
          td
            b Aktion
        each db, i in dbs
          tr
            td= i+1
            td= date[i]
            td(name="db"+ i)= db
            td
              button(class="btn btn-danger",onclick='deleteDb(' + i + ')',name="deleteDb" + i, title="test", id="deletedb") delete
              |  
              button(class="btn btn-primary",onclick='downloadDb(' + i + ')',name="download" + i) download(.zip)
if (upload)
  script.
    alert("Upload was successfull")